@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

#dashboard-content {
  display: none;
}

/* Slider */
.slider {
  max-width: 100%;
  height: 608px;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 200%;
  height: 608px;
  display: flex;
  overflow: hidden;
  transition: transform 300ms ease-out;
}

.slides img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* Top Controls */

.logo-container {
  z-index: 1000;
  position: absolute;
  width: 172px;
  height: 82.58px;
  top: 64px;
  left: 72px;
}

#parental-portal {
  position: absolute;
  color: #f5f5f5;
  bottom: 106px;
  left: 170px;
  font-family: Alfa Slab One;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#parental-portal h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  color: #f90;
}
/* in-partnership */
#in-partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  height: 200px;
}

#partnership-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 445px;
  height: 82.58px;
}

#partnership-logos img {
  height: 82.58px;
  width: 172px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

#in-partnership span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: center;
}

/* Schedule */

.schedule-location {
  background-color: #151515;
  height: 764px;
  justify-content: center;
  padding-top: 104px;
  display: flex;
  flex-direction: row;
}

.img-title {
  margin: 32px 0 0 32px;
  position: absolute;
  width: 232px;
  height: 136px;
  flex-shrink: 0;
  color: #f90;
  font-family: "Alfa Slab One", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#spring-schedule-image {
  width: 568px;
  height: 598px;
  flex-shrink: 0;
}

#schedules {
  margin-left: 32px;
}

.shedule-title {
  font-family: "Alfa Slab One", cursive;
  font-size: 32px;
  color: #f90;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: normal;
}

.schedule-text {
  color: #f5f5f5;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.schedule-card {
  width: 581px;
  height: 126px;
  margin-bottom: 32px;
}

/* Location */

#location {
  display: flex;
  flex-direction: row;
  height: 852px;
  background-color: #151515;
  padding-top: 0;
  padding-bottom: 88px;
}

#cost-title {
  font-family: "Alfa Slab One", cursive;
  font-size: 48px;
  color: #f90;
  margin-top: 88px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: normal;
}

.cost-paragraph {
  color: #f5f5f5;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#cost-paragraph-wrapper {
  height: 174px;
  width: 480px;
}

.colored-span {
  color: #f90;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#location-right {
  margin-left: 32px;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#practice {
  width: 625px;
  height: 125px;
  flex-shrink: 0;
}

#seasons-locations-header {
  width: 443px;
  height: 120px;
  flex-shrink: 0;
  color: #f90;
  font-family: "Alfa Slab One", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

#seasons-locations-paragraph {
  width: 561px;
  height: 226px;
  flex-shrink: 0;
}

/* Sponsors  */

#sponsors-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("assets/footer_image.png");
  height: 546px;
  background-size: cover;
}

#sponsors-footer h2 {
  font-family: "Alfa Slab One", cursive;
  color: #ff9900;
  font-size: 32px;
  line-height: 43.81px;
  font-weight: 400;
}

#thank-you-wrapper {
  width: 327px;
  height: 96px;
}

#sponsor-logos-wrapper {
  height: max-content;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 70px 20px;
}

#sponsor-logos-wrapper img {
  width: 161px;
  height: 80px;
}

/* Media Queries */

@media only screen and (min-width: 601px) and (max-width: 1162px) {
  .slider,
  .slides {
    height: auto;
  }
  .logo-container > img {
    width: 100px;
  }

  .logo-container {
    top: 20px;
    left: 26px;
  }

  #partnership-logos img {
    width: 130px;
    height: auto;
  }

  #parental-portal {
    position: absolute;
    color: #f5f5f5;
    bottom: 15px;
    left: 48px;
    font-size: 27px;
  }

  #parental-portal h3 {
    font-size: 18px;
  }

  .content-wrapper h1 {
    margin-left: 20px;
    font-size: 32px;
    line-height: 43.81px;
  }

  .content-wrapper {
    margin: 20px;
    height: auto;
  }

  #schedule-wrapper {
    flex-direction: column;
  }

  .img-title {
    display: none;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    height: 60px;
  }

  .img-title h1 {
    font-size: 40px;
    line-height: 43.81px;
    width: 350px;
  }

  #schedule-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #spring-schedule-image {
    display: none;
  }

  #location {
    flex-direction: column;
    height: auto;
    height: 845px;
    align-items: center;
    padding-bottom: 0;
  }

  #seasons-locations-header {
    margin-bottom: 0;
  }

  #practice {
    height: 80px;
  }

  #seasons-locations-header h1 {
    font-size: 32px;
    line-height: 43.81px;
    width: 350px;
  }

  .schedule-location {
    height: auto;
    padding-top: 0;
  }

  #location-left,
  #location-right {
    margin-left: 32px;
    width: 581px;
  }
  #schedules {
    height: 550px;
  }

  #cost-title {
    font-size: 32px;
  }

  #practice {
    width: 100%;
  }

  #cost-paragraph-wrapper {
    width: 100%;
  }

  #location img {
    display: none;
  }

  #cost-title {
    margin-top: 10px;
  }

  .img-title {
    margin: 0;
    position: relative;
  }

  #sponsors-footer {
    text-align: center;
    height: 265px;
  }

  #sponsor-logos-wrapper {
    width: 70%;
    height: auto;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .slider,
  .slides {
    height: auto;
  }
  .logo-container > img {
    width: 60px;
  }

  .logo-container {
    top: 20px;
    left: 26px;
  }

  #partnership-logos img {
    width: 72px;
    height: auto;
  }

  #in-partnership {
    height: 110px;
  }

  #partnership-logos {
    width: 250px;
  }

  #parental-portal {
    position: absolute;
    color: #f5f5f5;
    bottom: 15px;
    left: 48px;
    font-size: 18px;
  }

  #parental-portal h3 {
    font-size: 12px;
  }

  .content-wrapper h1 {
    margin-left: 20px;
    font-size: 32px;
    line-height: 43.81px;
  }

  .content-wrapper {
    margin: 20px;
    height: auto;
  }

  #schedule-wrapper {
    flex-direction: column;
  }

  #location p {
    font-size: 12px;
  }

  .img-title {
    display: none;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    height: 60px;
  }

  .img-title h1 {
    font-size: 40px;
    line-height: 43.81px;
    width: 350px;
  }

  #schedule-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .schedule-card {
    width: 350px;
  }

  .schedule-text {
    font-size: 12px;
  }

  #spring-schedule-image {
    display: none;
  }

  #location {
    flex-direction: column;
    height: auto;
    height: 700px;
    align-items: center;
    padding-bottom: 0;
  }

  #seasons-locations-header {
    margin-bottom: 0;
  }

  #practice {
    height: 80px;
  }

  #seasons-locations-header h1 {
    font-size: 32px;
    line-height: 43.81px;
    width: 350px;
  }

  #seasons-locations-paragraph p {
    font-size: 12px;
    width: 350px;
  }

  .schedule-location {
    height: auto;
    padding-top: 0;
  }

  #location-left,
  #location-right {
    margin: 0 10px;
    width: 350px;
  }
  #schedules {
    height: 550px;
    margin: 0 10px;
  }

  #cost-title {
    margin-top: 10px;
    font-size: 32px;
  }

  #practice {
    width: 100%;
  }

  #cost-paragraph-wrapper {
    width: 100%;
    font-size: 12px;
  }

  #location img {
    display: none;
  }
  #seasons-locations-paragraph {
    width: 350px;
  }

  #seasons-locations-header{
    width: 350px;
  }

  .colored-span {
    font-size: 12px;
  }

  .img-title {
    margin: 0;
    position: relative;
  }

  #sponsors-footer {
    text-align: center;
    height: 210px;
  }

  #sponsor-logos-wrapper {
    width: 70%;
    height: auto;
    margin: 20px 0;
  }

  #sponsor-logos-wrapper img {
    width: 70px;
    height: auto;
  }

  #thank-you-wrapper h2 {
    font-size: 20px;
  }
}
