@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

/* Slider */
.slider {
  max-width: 100%;
  height: 608px;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 200%;
  height: 608px;
  display: flex;
  overflow: hidden;
  transition: transform 300ms ease-out;
}

.slides img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* Top Controls */

#logo {
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 10px;
}

#portal-btn {
  cursor: pointer;
  position: absolute;
  top: 77px;
  right: 40px;
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 400;
  background-color: #ff9900;
  color: black;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  padding: 8px 10px;
  height: 40px;
  gap: 8px;
  text-wrap: nowrap;
}

.logo-container {
  z-index: 1000;
  position: absolute;
  width: 172px;
  height: 82.58px;
  top: 64px;
  left: 72px;
}

#logo {
  top: 23px;
  left: 87px;
  font-weight: bolder;
  font-size: 1.5em;
}

/* in-partnership */
#in-partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  height: 200px;
}

#partnership-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 445px;
  height: 82.58px;
}

#partnership-logos img {
  height: 82.58px;
  width: 172px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

#in-partnership span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: center;
}

/* program-description */
.program-description {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission-title {
  width: 366px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 304px;
  justify-content: space-around;
}

.level-up {
  width: 684px;
  min-width: 684px;
  height: 160px;
  font-size: 16px;
  color: #f5f5f5;
  width: 684px;
  font-family: "Open Sans", sans-serif;
  line-height: 21.79px;
  overflow: hidden;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.title {
  width: 366px;
  height: 128px;
}

.content-wrapper h1 {
  font-family: "Alfa Slab One", cursive;
  color: #ff9900;
  font-size: 48px;
  text-wrap: nowrap;
  line-height: 65.71px;
  font-weight: 400;
}

.line {
  bottom: 0;
  left: 0;
  width: 432px;
  border: 1px;
  height: 2px;
  background-color: #ff9900;
  margin: 0;
}
/* Mission */
#mission {
  height: 184px;
}

/* Coaching */

#coaching {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

#coaching-wrapper {
  width: 716px;
  height: 66px;
  flex-shrink: 0;
  margin-bottom: 32px;
}

#coaching h1 {
  font-family: "Alfa Slab One", cursive;
  color: #ff9900;
  font-size: 48px;
  text-wrap: nowrap;
  line-height: 65.71px;
  font-weight: 400;
}

#cards-wrapper {
  width: 1162px;
  height: 746px;
}

.directors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.director-card {
  height: 648px;
  width: 568px;
  background-color: #f5f5f5;
  z-index: 1000;
  padding: 30px 20px;
}

.director-card h4 {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 43.81px;
  color: #ff9900;
}

.director-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #151515;
  font-family: "Open Sans", sans-serif;
}

.director-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32.68px;
  color: #151515;
  font-family: "Open Sans", sans-serif;
}

/* Sponsors  */

#sponsors-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("assets/footer_image.png");
  height: 546px;
  background-size: cover;
}

#sponsors-footer h2 {
  font-family: "Alfa Slab One", cursive;
  color: #ff9900;
  font-size: 32px;
  line-height: 43.81px;
  font-weight: 400;
}

#thank-you-wrapper {
  width: 327px;
  height: 96px;
}

#sponsor-logos-wrapper {
  height: max-content;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 70px 20px;
}

#sponsor-logos-wrapper img {
  width: 161px;
  height: 80px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 546px;
  background-color: #151515;
}

footer h1 {
  color: #ff9900;
  font-weight: 400;
  font-size: 32px;
  line-height: 43.81px;
  font-family: "Alfa Slab One", cursive;
}

#footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.signup-form {
  width: 904px;
  height: 121px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.signup-form input {
  text-indent: 10px;
  width: 432px;
  height: 48px;
  color: #7c7c7c;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  font-family: "Open Sans", sans-serif;
}

#signup-btn:hover {
  background-color: #ffbb00;
}

::placeholder {
  color: #ddd;
  text-indent: 10px;
}

#signup-btn {
  width: 432px;
  height: 48px;
  background-color: #ff9900;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #151515;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 21.79px;
}

/* Modal */
#login-modal {
  display: none;
}
.modal {
  display: none;
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 848px;
  height: 632px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  width: 30px;
  height: 30px;
  color: #7c7c7c;
  position: relative;
  top: 32px;
  left: 32px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.modal-header {
  position: relative;
  color: #f90;
  text-align: center;
  width: 342px;
  height: 128px;
  flex-shrink: 0;
  margin: 50px auto;
}

.modal-header h1 {
  color: #ff9900;
  font-family: "Alfa Slab One", cursive;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-form input[type="email"],
.modal-form input[type="password"] {
  width: 432px;
  height: 48px;
  border: 2px solid #7c7c7c;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 220px;
  width: 100%;
}

.modal-submit-btn {
  background-color: #ff9900;
  color: #151515;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 21.79px;
  font-size: 16px;
  width: 432px;
  height: 48px;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}

.modal-submit-btn:hover {
  opacity: 0.8;
}

.modal-footer {
  margin: 0 auto;
  width: 304px;
  color: #151515;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-footer p {
  color: #151515;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 16.34px;
  font-weight: 400;
}

/* Media Queries */

@media only screen and (min-width: 601px) and (max-width: 1162px) {
  .slider,
  .slides {
    height: auto;
  }
  .content-wrapper h1 {
    margin-left: 20px;
    font-size: 32px;
    line-height: 43.81px;
  }

  .content-wrapper {
    margin: 20px;
    height: auto;
  }

  .level-up {
    width: 100%;
    min-width: min-content;
    height: auto;
    margin-right: 50px;
  }

  #mission {
    height: auto;
  }

  #programm-mission {
    height: auto;
    margin: 20px 0;
  }

  .directors {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .level-up {
    font-size: 12px;
  }

  .title,
  #mission-title {
    width: 550px;
    height: 128px;
  }

  #coaching {
    padding: 0;
  }
  #coaching-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  #coaching-wrapper h1 {
    margin-left: 20px;
    font-size: 32px;
    line-height: 43.81px;
  }

  #cards-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .director-card {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }

  .signup-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #sponsors-footer {
    text-align: center;
    height: 265px;
  }

  #sponsor-logos-wrapper {
    width: 70%;
    height: auto;
    margin: 20px 0;
  }

  footer {
    height: auto;
  }

  .modal-content {
    width: 648px;
    height: 632px;
  }
}

/* media queris for mobile phones */
@media only screen and (max-width: 600px) {
  .slider,
  .slides {
    height: auto;
  }

  .logo-container {
    width: 100px;
  }

  .logo-container img,
  #partnership-logos img,
  #sponsor-logos-wrapper img {
    height: auto;
    width: 80px;
  }

  .content-wrapper h1 {
    margin-left: 20px;
    font-size: 24px;
    line-height: normal;
  }

  .logo-container {
    top: 19px;
    left: 17px;
  }
  #portal-btn {
    top: 25px;
  }

  .content-wrapper {
    margin: 20px;
    height: auto;
  }

  .level-up {
    width: 100%;
    min-width: min-content;
    height: auto;
    margin-right: 20px;
  }

  .title,
  #mission-title {
    width: 450px;
  }

  #mission {
    height: auto;
  }

  #programm-mission {
    height: auto;
    margin: 20px 0;
  }

  .directors {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #coaching {
    padding: 0;
  }
  #coaching-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  #coaching-wrapper h1 {
    text-wrap: wrap;;
    margin-left: 20px;
    font-size: 32px;
    line-height: 43.81px;
  }

  #cards-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .director-card {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }

  .signup-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #sponsors-footer {
    text-align: center;
    height: 265px;
  }

  #sponsor-logos-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 0 20px;
  }

  footer {
    height: auto;
  }

  .modal-content {
    width: 400px;
    height: 500px;
  }

  .modal-header {
    margin: auto;
    height: auto;
    width: auto;
  }

  .modal-header h1 {
    font-size: 24px;
  }

  .modal-form {
    height: 300px;
    width: auto;
  }

  .modal-footer {
    margin-bottom: 50px;
  }

  .modal-form input[type="email"],
  .modal-form input[type="password"] {
    width: 300px;
  }

  .modal-submit-btn{
    width: 300px;
  }

  .close{
    top: 10px;
    left: 10px;
  }
}

@media only screen and (max-width: 390px) {
  .slider,
  .slides {
    height: auto;
  }

  .logo-container {
    width: 100px;
  }

  .content-wrapper h1 {
    margin-left: 20px;
    font-size: 24px;
    line-height: normal;
  }

  .logo-container {
    top: 19px;
    left: 17px;
  }
  #portal-btn {
    top: 25px;
  }

  .content-wrapper {
    margin: 20px;
    height: auto;
  }

  .level-up {
    width: 100%;
    min-width: min-content;
    height: auto;
    margin-right: 20px;
  }

  .title,
  #mission-title {
    width: 321px;
    height: 80px;
  }

  #mission,
  .level-up {
    height: auto;
    margin: 0;
    padding: 15px;
  }

  .content-wrapper {
    height: auto;
    margin: 20px 0;
    flex-direction: column;
  }

  .directors {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #coaching {
    padding: 0;
  }
  #coaching-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  #coaching-wrapper h1 {
    margin-left: 20px;
    font-size: 20px;
    line-height: 43.81px;
  }

  #in-partnership {
    height: 100px;
  }

  #partnership-logos {
    width: 70%;
    height: auto;
    margin: 0;
  }

  #cards-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .line {
    width: 285px;
  }

  .director-card {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }

  .signup-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #sponsors-footer {
    text-align: center;
    height: 265px;
  }

  #sponsor-logos-wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 0 20px;
  }

  footer {
    height: auto;
  }

  #footer-content-wrapper {
    width: 100%;
  }

  #footer-content-wrapper > div {
    width: 100%;
  }

  #signup-btn,
  .signup-form input {
    width: 80%;
  }

  .modal-content {
    width: 280px;
    height: 400px;
  }

  .modal-header {
    margin: auto;
    height: auto;
    width: auto;
  }

  .modal-header h1 {
    font-size: 16px;
  }

  .modal-form {
    height: 200px;
    width: auto;
  }

  .modal-footer {
    width:200px;
  }

  .modal-form input[type="email"],
  .modal-form input[type="password"] {
    width: 200px;
  }

  .modal-submit-btn{
    width: 200px;
  }

  .close{
    top: 10px;
    left: 10px;
  }
}
